/* INDEX STYLING*/
body {
  background-color:#000;
  margin: 0;
  font-family: 'Merriweather', serif;
  padding: 3.125rem;
  color: #fff;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 20%;
  border-width: 5px;
  border-color: silver;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

.top-container {
  text-align: center;
}

.top-heading {
  color: #66bfbf;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 5.625rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.75rem;
  /*font-weight: normal;*/
}

img {
  /* width: 21.25rem;
  height: 21.25rem; */
  margin: 20px;
  width:100%;
  /* padding: 20px; */
}

/* .sketchs {
  margin: 20px;
  /* text-align: center; */
  /* height: 21.25rem;
} */

 .babySketch{
  height:25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

img:hover {
  background-color: #ad9d9d;
  opacity: 0.3;
}

/* ABOUTME STYLING*/
.aboutme-image {
  border-radius: 100%;
  margin: auto;
}

.aboutMe {
  text-align: center;
  padding-top: 10px;
  line-height: 1.6;
  margin: 5% auto 10px auto;
  font-weight: 500;
  font-family: 'Satisfy', cursive;
}

/* CONTACT STYLING*/
.contact {
  padding: 5%;
  text-align: center;
}

#contacts {
  padding: 2% 30%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
}

.contact-box {
  text-align: center;
  padding: 5%;
}

.mail-phone {
  color: #66bfbf;
}

.contact-line {
  font-weight: 500;
  font-family: 'Satisfy', cursive;
}

.btn {
  text-decoration: underline;
  font-weight: 300;
  font-size: 1.25rem;
  color:#fff;
}

/* MEDIA QUERIES */
@media (max-width:1028px) {
  body {
    text-align: center;
  }
}

@media (max-width:1028px) {
  .aboutMe {
    text-align: center;
    font-size: 26px;
  }
}

@media (max-width:1028px) {
  .contact-line {
    text-align: center;
  }
}

@media (max-width:1028px) {
  .mail-phone {
    font-size: 27px;
    text-align: center;
  }
}

@media (max-width:1028px) {
  .copyright {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width:1028px) {
  h4 {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width:1028px) {
  .nav-link {
    font-size: 1.7rem;
  }
}

